:root {
    --bg-color1: #212529;
    --bg-color2: #2a2b2d;
    --text-color: #fff;
    --dimmed-text: #999;
    --accent-color: #ea6e4b;
    --aqi-1: #d4e157;
    --aqi-2: #ffee58;
    --aqi-3: #ffca28;
    --aqi-4: #ff7043;
    --aqi-5: #ef5350;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color1);
    color: var(--text-color);
    font-family: sans-serif;
    padding: 0 15px;
    /* prevent text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.container {
    width: 85%;
    margin: 0 auto;
}

hr {
    margin-bottom: 10px;
}

.header {
    position: sticky;
    /* top: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 0;
}

#cityInput {
    background-color: var(--bg-color2);
    border: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: var(--text-color);
}

#searchBtn, #locationBtn {
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    background-color: var(--text-color);
    cursor: pointer;
}

#locationBtn {
    background-color: var(--accent-color);
}

.card {
    background-color: var(--bg-color2);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 5px 0;
}

.weather-icon-large {
    width: 100px;
}

.weather-icon {
    width: 50px;
}

.weather-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forecast-item {
    display: grid;
    grid-template-columns: 85px repeat(3, 1fr);
    align-items: center;
    column-gap: 10px;
    margin-bottom: 15px;
}

.weather-right {
    grid-column: span 3;
}

.weather-right h2 {
    margin-bottom: 10px;
}

.highlights {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
}

.card:nth-of-type(1) {
    grid-row: span 2;
}

.highlights .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.card-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sunrise-sunset {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sunrise-sunset .item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
}

.sunrise-sunset h2 {
    margin-top: 20px;
}

.sunrise-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sunriseDisplay,
#sunsetDisplay {
    margin-bottom: 0;
}

.card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hourly-forecast {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    overflow: scroll;
}

.hour-item {
    text-align: center;
}