:root {
    --bg-color1: #212529;
    --bg-color2: #2a2b2d;
    --text-color: #fff;
    --dimmed-text: #999;
    --accent-color: #ea6e4b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color1);
    color: var(--text-color);
    font-family: sans-serif;
    padding: 0 15px;
}

.header {
    position: sticky;
    /* top: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 0;
}

#cityInput {
    background-color: var(--bg-color2);
    border: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: var(--text-color);
}

#searchBtn, #locationBtn {
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    background-color: var(--text-color);
    cursor: pointer;
}

#locationBtn {
    background-color: var(--accent-color);
}

.card {
    background-color: var(--bg-color2);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
}

.card-footer p {
    color: var(--dimmed-text);
    margin-bottom: 10px;
}

.card h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 5px 0;
}

.weather-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forecast-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-bottom: 15px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
}