:root {
    --bg-color1: #212529;
    --bg-color2: #2a2b2d;
    --text-color: #fff;
    --dimmed-text: #999;
    --accent-color: #ea6e4b;
    --aqi-1: #01e601;
    --aqi-2: #fffb00;
    --aqi-3: #ff7e00;
    --aqi-4: #fd2601;
    --aqi-5: #9b174d;
    --aqi-6: #800f1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color1);
    color: var(--text-color);
    font-family: sans-serif;
    padding: 0 15px;
    /* prevent text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.container {
    width: min(85%, 1200px);
    margin: 0 auto;
}

hr {
    margin-bottom: 10px;
}

.header {
    /* position: sticky;
    top: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 0;
}

#cityInput {
    background-color: var(--bg-color2);
    border: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: var(--text-color);
}

#searchBtn, #locationBtn {
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    background-color: var(--text-color);
    cursor: pointer;
}

#locationBtn {
    background-color: var(--accent-color);
}

.card {
    background-color: var(--bg-color2);
    padding: 15px;
    border-radius: 15px;
}

.card h2 {
    font-size: 2em;
    font-weight: 500;
}

.weather-icon-large {
    width: 100px;
}

.weather-icon {
    width: 50px;
}

.weather-data {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "current hourly"
    "ten-day  highlights";
    gap: 15px;
}

.current-weather {
    grid-area: current;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.ten-day {
    grid-area: ten-day;
    align-self: start;
}

.forecast-item {
    display: grid;
    grid-template-columns: 85px repeat(3, 1fr);
    align-items: center;
    column-gap: 10px;
    margin-bottom: 15px;
}

.forecast-item:last-of-type {
    margin-bottom: 0;
}

.hourly-forecast {
    grid-area: hourly;
    overflow: scroll;
}

.highlights {
    grid-area: highlights;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%; */
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    height: 100%;
    gap: 15px;
}

.highlights .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(25% - 11.25px);
    aspect-ratio: 1 / 1;
    gap: 10px;
}

.card-head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.air-condition {
    color: #000;
    padding: 5px 10px;
    border-radius: 15px;
}

.aqi-1 {
    background-color: var(--aqi-1);
}

.aqi-2 {
    background-color: var(--aqi-2);
}

.aqi-3 {
    background-color: var(--aqi-3);
}

.aqi-4 {
    background-color: var(--aqi-4);
}

.aqi-5 {
    background-color: var(--aqi-5);
}

.aqi-6 {
    background-color: var(--aqi-6);
}

.sunrise-sunset {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sunrise-sunset .item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
}

.sunrise-sunset h2 {
    margin-top: 20px;
}

.sunrise-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sunriseDisplay,
#sunsetDisplay {
    margin-bottom: 0;
}

.card-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.description {
    margin-bottom: 10px;
}

.hourly-items-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    overflow: scroll;
}

.hourly-items-container::-webkit-scrollbar{
    height: 0;
}

.hour-item {
    text-align: center;
}